h1{color:blue
}
h1{text-align: center;
}
h1{font-size: large;
}
h1{font-size: 100%;
}
h1 {text-align-last: right;
}
h2{color: aquamarine;
}
h2{text-align: center;
}
h2{font-size: larger;
}
h2{font-size: 150%;
}
h2 {text-align-last: right;
}
i{color: black;
}
i{text-align: center;
}
i{font-size: large;
}
i{font-size: 100%;
}
i{text-align-last: right;
}
b{color: black;
}
i{text-align: center;
}
b{font-size: large;
}
b{font-size: 100%;
}
b{text-align-last: right;
}
